@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Unbounded', cursive;
}
body{
    background: #101010;
    color: #fff;
    margin: auto;
    display: flex;
}
nav{
    width: 20vw;
    height: 100vw;
    background: #191919;
    color: #fff;
    border: .1px solid #fff;
    position: relative fixed;
}
nav ul{
    position: fixed;
}
nav li{
    margin: 25px;
    padding: 10px;
    list-style: none;
    background: #101010;
    min-width: 90%;
    width: auto;
    word-wrap: none;
    border-radius: 10px;
    text-align: left;
    align-items: center;
    display: flex;
    flex-direction: row;
}
nav li:hover{
    background: #aaa;
}
nav a{
    min-width: 100%;
    text-decoration: none;
    color: #fff;
}
nav a i{
    margin-top: auto;
    margin-bottom: 0;
    margin-right: calc(5%);
}
.container{
    width: calc(100% - 5px);
    height: 100px;
    background: #454545;
    border-radius: 05px;
    padding: 20px;
    position: relative;
}
.container form{
    width: 100%;
    height: 90%;
    top: 50%;
}
form input{
    width: calc(100% - 55px);
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    top: 50%;
}
form input:focus{
    padding: 10px;
}
.type{
    position: absolute;
    background: transparent;
    height: 50px;
    width: calc(100% - 20vw);
    top: calc(0% + 100px);
    right: calc(04.5vw);
}
.type ul{
    display: flex;
    flex-direction: row;
}
li{
    list-style: none;
}
button{
    padding: 5px;
    margin-left: 30px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 10px;
}
#audio_player{
    width: calc(100% - 01px);
    height: 14%;
    border-radius: 5px;
    padding: 10px;
    position: fixed;
    bottom: 0px;
    z-index: 99;
    background: rgba(0, 0, 0, 0.8);
    /*backdrop-filter: blur(10px);*/
}
.brs{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.br{
    width: calc(005% / 4);
    height: 25%;
    color: #fff;
    background: #fff;
    z-index: 99999;
    margin-left: 5px;
    animation: rise linear infinite 2s ;
}
@keyframes rise{
    from{transform: scaleY(1);}
    to{transform: scaleY(1.5);}
}
.cnl button{
    margin: 5;
    background: transparent;
    color: #fff;
    font-size: larger;
}
.cnl{
    width: auto;
    height: 90%;
    max-height: 85%;
    padding: 5px;
    background: rgba(5, 5, 5, 0.8);
    z-index: 100;
    position: absolute;
    top: 2%;
    display: flex;
    border-radius: 5px;
}
.cnl img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    animation: spin infinite 5s;
}
@keyframes spin{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
.txt{
    margin-left: 20px;
    align-items: center;
    text-align: center;
    justify-content: top;
    line-height: 20px;
}
audio{
    position: fixed;
    bottom: 5px;
    z-index: 5;
    width: calc(100% - 10px);
}
.artist-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    width: calc(100% - 17.5vw);
    height: 90vw;
    background: #242424;
    left: 16.65vw;
    top: calc(0% + 150px);
    padding: 10px;
    border-radius: 5px;
}
.none{
    display: none;
}
.card{
    width: calc(100% / 4.5);
    height: calc(110% / 5);
    background: rgba(0, 0, 0, 0.5);
    margin-left: 15px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;    
    cursor: pointer;
}
.card:hover{
    transform: scale(1.025);
    box-shadow: 1px 3px 15px 10px #000;}
.card img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.card i{
    color: rgb(0, 255, 5);
    background: transparent;
    font-size: 500%;
}
.icn{
    position: absolute;
    justify-content: right;
    margin-right: 0;
    margin-left: calc(-13.5%);
    margin-top: calc(1.25%);
    visibility: initial;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 500,
  'GRAD' 200,
  'opsz' 48
}
.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.load{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999;
}
.loader{
    width: 20px;
    height: 50px;
    background: #fff;
    border-radius: 2px;
    margin-left: 15px;
    animation: load 2.5s infinite;
}
@keyframes load {
    25%{transform: scaleY(.5);}
    50%{transform: scaleY(5);}
}
.loader:nth-child(1){
    animation-delay: 0s;
}
.loader:nth-child(2){
    animation-delay: .25s;
}
.loader:nth-child(3){
    animation-delay: 0.5s;
}